
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<link href="~/Content/Popup.css" rel="stylesheet" />
<hr />

<input type="text" id="text" />
<button id="button">Send</button>
<br />
<hr />
<input type="button" id="async" value="Async" />
<ul id="ul"></ul>
@Url.Action("SendEmail", "Home", new { message = "text", id = "id_holder" }, Request.Url.Scheme)
@section scripts
{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {





            $("#popup_close").click(function () {
                $("#user_popup").hide();
            });

            hub = $.connection.myHub;

            hub.client.hello = function (message) {
                $("#popup_message").empty().append(message);
                $("#user_popup").show();
            }

            $.connection.hub.start().done(function () {

                var connectionID = $.connection.hub.id;
                var link = "@Url.Action("SendEmail", "Home", new {message ="text", id ="id_holder"}, Request.Url.Scheme)";

                $("#async").click(function () {

                    $.ajax({
                        url:link.replace("id_holder", connectionID),
                        type: "Get"
                });
            });

                //$('#button').click(function () {

                //    hub.server.hello($("#text").val());
                //});
            });
        });
    </script>
}
@section popup
{
    <div class="popup" id="user_popup" style="display:none">
        <div class="popup-content">
            <div class="popup_message_container">
                <div id="popup_message"></div> 
            </div>
            <div class="popup_button">
                <button id="popup_close">Закрыть</button>
            </div>      
        </div> 
    </div>
}